 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* debug  */
 .debug{
min-height: 50px;
border:1px solid red ;
 }
.debug [class*=col-]{
    min-height: 50px;
    background-color: blue;
    border: 1px solid white;
}
.debug [class*=col-xs-green-]{
    border:5px  solid blue;
    background-color:  #00e165;
}
.debug [class*=col-offset]{
    
    border: none;
}



    
    /* framework  */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
   
    .col-xs-1{
        flex-basis: calc((100% / 12) * 1);
        
    }
   
   
    .col-xs-2{
       flex-basis: calc((100% / 12) * 2);
   }
   
   .col-xs-3{
       flex-basis: calc((100% / 12) * 3);
   }
   
   
   .col-xs-4{
       flex-basis: calc((100% / 12) * 4);
   }
   
   .col-xs-5{
       flex-basis: calc((100% / 12) * 5);
   }
   
   .col-xs-6{
       flex-basis: calc((100% / 12) * 6);
   }
   
   .col-xs-7{
       flex-basis: calc((100% / 12) * 7);
   }
   
   .col-xs-8{
       flex-basis: calc((100% / 12) * 8);
   }
   
   .col-xs-9{
       flex-basis: calc((100% / 12) * 9);
   }
   
   .col-xs-10{
       flex-basis: calc((100% / 12) * 10);
   }
   
   .col-xs-11{
       flex-basis: calc((100% / 12) * 11);
   }
   
   .col-xs-12{
       flex-basis: calc((100% / 12) * 12);
   }
   
   
   
   /* offset */
   .col-offset-1{
       margin-left: calc((100% / 12) * 1);
   }
   .col-offset-2{
       margin-left: calc((100% / 12) * 2);
   }
   .col-offset-3{
       margin-left: calc((100% / 12) * 3);
   }
   .col-offset-4{
       margin-left: calc((100% / 12) * 4);
   }
   .col-offset-5{
       margin-left: calc((100% / 12) * 5);
   }
   .col-offset-6{
       margin-left: calc((100% / 12) * 6);
   }
   .col-offset-7{
       margin-left: calc((100% / 12) * 7);
   }
   .col-offset-8{
       margin-left: calc((100% / 12) * 8);
   }
   .col-offset-9{
       margin-left: calc((100% / 12) * 9);
   }
   .col-offset-10{
       margin-left: calc((100% / 12) * 10);
   }
   .col-offset-11{
       margin-left: calc((100% / 12) * 11);
   }
   .col-offset-12{
       margin-left: calc((100% / 12) * 12);
   }
   
   
   
   .col-xs-green-1{
       flex-basis: calc((100% / 12) * 1);
       
   }
   
   
   .col-xs-green-2{
      flex-basis: calc((100% / 12) * 2);
   }
   
   .col-xs-green-3{
      flex-basis: calc((100% / 12) * 3);
   }
   
   
   .col-xs-green-4{
      flex-basis: calc((100% / 12) * 4);
   }
   
   .col-xs-green-5{
      flex-basis: calc((100% / 12) * 5);
   }
   
   .col-xs-green-6{
      flex-basis: calc((100% / 12) * 6);
   }
   
   .col-xs-green-7{
      flex-basis: calc((100% / 12) * 7);
   }
   
   .col-xs-green-8{
      flex-basis: calc((100% / 12) * 8);
   }
   
   .col-xs-green-9{
      flex-basis: calc((100% / 12) * 9);
   }
   
   .col-xs-green-10{
      flex-basis: calc((100% / 12) * 10);
   }
   
   .col-xs-green-11{
      flex-basis: calc((100% / 12) * 11);
   }
   
   .col-xs-green-12{
      flex-basis: calc((100% / 12) * 12);
   }

